@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-principal: #54a5c6;
    --color-secundario : #1e9820;
    --color-terciario : #675f4e;
    --color-cuatario: #325497;
    --fuente-montzerrat : "Montserrat", sans-serif; 
    --fuente-krona : "Krona One", sans-serif;
}

* {
    padding: 0;
    margin:0;
}


body{
    box-sizing: border-box;
    background-color: var(--color-principal)
}

.Cuadros__texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 24px;
    box-sizing: border-box;
    

}

.Seccion__entrada{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}

.tipiado{
    width: auto;
    height: 31.25rem;
    justify-content: start;
    align-items: flex-start;
    font-family: var(--fuente-krona);
    font-size:1.5rem;
    color: var(--color-secundario);
    background-color: var(--color-cuatario);
    border-radius: 10px;
}

.Seccion__resultado{
    display: flex;
    width: 20%;
    gap: 10px;
    flex-direction: column;
    
}

.BotonCopiar{
    width: 6.25rem;
    height: 3.125rem;
    border-radius: 20px;
    background-color: var(--color-terciario);
    font-family: var(--fuente-krona);
    color:var(--color-principal);
}

.BotonCopiar:hover{
    background-color: #3b4e73;
}

.Resultado__texto{
    color: var(--color-principal);
    background-color:var(--color-cuatario);
    height: 39rem;
    width: 100%;
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    border-radius: 10px;
    background-image:url(assets/alura.png);
    background-image: center;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 75%; 
}

.Resultado__texto:not(:placeholder-shown) {
    background-image: none;
}

.Boto{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 20px;
}

.botones{
    background-color: var(--color-cuatario);
    font-family: var(--fuente-montzerrat);
    font-size: larger;
    border-radius: 24px;
    width: 328px;
    height: 67px;
}

.botones:hover{
    background-color:#82c6f3;
}

.Boton__copiar{
    width: 6.25rem;
    height: 3.125rem;
    border-radius: 20px;
    background-color: var(--color-terciario);
    font-family: var(--fuente-krona);
    color:var(--color-principal);   
}
.Boton__copiar:hover{
    background-color: #3b4e73;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secundario);
    color: var(--color-cuatario);
    padding: 10px;
    gap: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-family:var(--fuente-montzerrat); 
    font-weight: 400;
}

@media(max-width: 780px){

    .CuadrosTexto{
        flex-direction: column;
        width: auto;
    }

    .SeccionInput{
        width: 100%;
        box-sizing: border-box;
    }
    .inputTex{
        width: auto;
        font-size: 1rem;
        height: 300px;
    }

    .Seccion__resultado{
        width: 100%;
        height: 300px;
        font-size: 1rem;

    }

    .botones{
        width: auto;
    }

    .ResultadoTexto{
        font-size: 1rem;
    }

}